[submodule "depend/glfw"]
	path = depend/glfw
	url = https://github.com/glfw/glfw
[submodule "depend/fast_obj"]
	path = depend/fast_obj
	url = https://github.com/thisistherk/fast_obj
[submodule "depend/meshoptimizer"]
	path = depend/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "depend/SPIRV-Cross"]
	path = depend/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
